---
import { getDesign } from "../services/supabase"
import { BookmarkIcon, CommentIcon, ShareIcon, InfoIcon, MailIcon } from "../components/Icons"
import { LikeButton } from "./LikeButton";
const { designId } = Astro.params

const design = await getDesign(designId)
---
<header class="container font-Gilroy-Regular">
  <div class="px-10 flex justify-between">
    <div class="flex flex-col gap-2">
      <div class="flex gap-3 items-center">
        <img class="rounded-full h-8 w-8 border border-gray-500" src={design.author.avatar} />
        <h2 class="font-Gilroy-Bold text-lg">{design.title}</h2>
      </div>
      <div class="text-sm flex gap-2 justify-center">
        <span class="hover:cursor-pointer">{design.author.name}</span> -
        <span class="hover:cursor-pointer">Seguir</span> -
        <span class="hover:cursor-pointer">Contactar</span>
      </div>
    </div>
    <div class="flex flex-grow-0 justify-center items-center gap-2">
      <LikeButton client:load/>
      <div  class="hover:scale-105 transition-transform ease-in rounded-xl border border-gray-300 px-3 py-3 hover:cursor-pointer">
        <BookmarkIcon />
      </div>
    </div>
  </div>
</header>
<main class="container mt-10">
  <div class="flex flex-col gap-6 items-center mx-auto max-w-[90%]">
    <img src={design.src} alt={design.name} class="max-w-full rounded-xl" />
    <p class="text-lg font-Gilroy-Regular max-w-[60ch]">{design.description}</p>
  </div>
  <hr class="mt-10"/>
  <section class="flex justify-center gap-3 flex-col items-center mt-10">
    <p class="font-Gilroy-Bold">Contacta al Diseñador</p>
    <button class="font-Gilroy-Bold hover:cursor-pointer rounded-lg bg-pink-500 py-3 px-2 text-white flex justify-center gap-2 items-center ">
      <MailIcon />
      Contáctame
    </button>
  </section>
</main>

<aside class="top-52 right-6 bg-white absolute">
  <ul class="flex flex-col gap-3 justify-center py-4 rounded-lg border border-gray-300 shadow-xl px-5">
    <li class="rounded-xl flex justify-center border hover:scale-105 transition-transform ease-in border-gray-300 py-3 px-3 hover:cursor-pointer">
      <CommentIcon />
    </li>
    <li class="rounded-xl flex justify-center border hover:scale-105 transition-transform ease-in border-gray-300 py-3 px-3 hover:cursor-pointer">
      <ShareIcon />
    </li>
    <li class="rounded-xl flex justify-center border hover:scale-105 transition-transform ease-in border-gray-300 py-3 px-3 hover:cursor-pointer">
      <InfoIcon />
    </li>
  </ul>
</aside>
